site_name: Google Flights Scraper
repo_name: joshtkraus/google-flights-scraper
repo_url: https://github.com/joshtkraus/google-flights-scraper

theme:
  name: "material"
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - toc.integrate
  language: en
  favicon: img/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-swtich-off-outline
        name: Switch to dark mode
      primary: blue grey
      accent: light blue
    - scheme:
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: blue grey
      accent: light blue

watch:
  - src/google_flights_scraper

plugins:
  - search
  - gen-files:
    - scripts:
      - docs/gen_ref_pages.py
  - literate-nav:
    nav_file: SUMMARY.md
  - section-index
  - mkdocs-jupyter:
    include: ["*ipynb"]
  - mkdocsstrings:
    default_handler: python
    handlers:
      python:
        paths: [src]
        options:
          filters:
            - "!^_"
          docstring_style: google
          docstring_options:
            return_named_value: false

markdown_extensions:
  - pymdownx.highlight:
    anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
    generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list

nav:
  - Simple Request: tutorial/simple_request.ipynb
  - Batch Request: tutorial/batch_request.ipynb
  - Code Reference: reference/

extra:
  version:
    provider: mike
